# Customer Retention

In [1]:
# Importing Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Dataset Overview

In [2]:
data = pd.read_excel('02 Churn-Dataset.xlsx')

In [3]:
data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'numAdminTickets',
       'numTechTickets', 'Churn'],
      dtype='object')

In [4]:
print('The number of rows in the dataset',data.index.value_counts().sum())

The number of rows in the dataset 7043

In [5]:
print('The Dataset overview : ')
data.info()

The Dataset overview :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  numAdminTickets   7043 non-null   int64
 21  numTechTickets    7043 non-null   int64
 22  Churn             7043 non-null   object
dtypes: float64(1), int64(4), object(18)
memory usage: 1.2+ MB

In [6]:
print('The data types for each column : ')
data.dtypes

The data types for each column :

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
numAdminTickets       int64
numTechTickets        int64
Churn                object
dtype: object

In [7]:
data.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,numAdminTickets,numTechTickets,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0,0,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,One year,No,Mailed check,56.95,1889.5,0,0,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,0,0,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,0,3,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,0,0,Yes

## Data Cleaning and Preprocessing

*Duplicate Values*

In [8]:
print("The number of duplicate rows in a dataset : ",data.duplicated().sum())

The number of duplicate rows in a dataset :  0

*Handling Null values*

In [9]:
data.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
numAdminTickets     0
numTechTickets      0
Churn               0
dtype: int64

*Data Type Conversion*

In [10]:
data['MonthlyCharges'] = data['MonthlyCharges'].round(0).astype(int)

In [11]:
data['TotalCharges'].dtype

dtype('O')

In [12]:
data['TotalCharges'] = pd.to_numeric(data['TotalCharges'], errors='coerce')
data['TotalCharges'].dtype

dtype('float64')

In [13]:
data['TotalCharges'] = data['TotalCharges'].round(0)
data['TotalCharges'] = data['TotalCharges'].fillna(value = data['TotalCharges'].mean())
data['TotalCharges'].isnull().sum()

np.int64(0)

In [14]:
data['TotalCharges'] = data['TotalCharges'].round(0).astype(int)
data[['TotalCharges','MonthlyCharges']].head(5)

   TotalCharges  MonthlyCharges
0            30              30
1          1890              57
2           108              54
3          1841              42
4           152              71

*Standardizing Formats*

In [15]:
data['SeniorCitizen'] = data['SeniorCitizen'].replace({1:'Yes',0:'No'})
data['SeniorCitizen'].unique()

array(['No', 'Yes'], dtype=object)

## Data Aggrgation

In [16]:
data['customerID'].count()

np.int64(7043)

In [17]:
data.groupby('gender')[['SeniorCitizen','Partner','Dependents']].count()

        SeniorCitizen  Partner  Dependents
gender
Female           3488     3488        3488
Male             3555     3555        3555

In [18]:
contract_charges = data.groupby('gender')['tenure'].agg(['mean','median','count'])
contract_charges.round(2)

         mean  median  count
gender
Female  32.24    29.0   3488
Male    32.50    29.0   3555

In [19]:
contract_charges = data.groupby('Contract')[['MonthlyCharges','TotalCharges']].agg(['mean','sum'])
contract_charges.round(2)

               MonthlyCharges         TotalCharges
                         mean     sum         mean      sum
Contract
Month-to-month          66.39  257270      1369.25  5305843
One year                65.05   95812      3034.18  4469345
Two year                60.78  103014      3720.39  6306053

In [20]:
data[data['Churn']=='Yes']['PaymentMethod'].value_counts()

PaymentMethod
Electronic check             1071
Mailed check                  308
Bank transfer (automatic)     258
Credit card (automatic)       232
Name: count, dtype: int64

*Reshaping Data*

In [21]:
contract_churn = data.pivot_table(values = 'MonthlyCharges', index = 'Contract', columns = 'Churn', aggfunc=['mean'])
contract_churn.round(2)

                 mean
Churn              No    Yes
Contract
Month-to-month  61.46  73.00
One year        62.50  85.06
Two year        60.02  86.75

In [22]:
contract_churn = data.pivot_table(values="TotalCharges", index="InternetService", columns="Churn", aggfunc=["mean","sum"])
contract_churn.round(2)

                    mean               sum
Churn                 No      Yes       No      Yes
InternetService
DSL              2432.60   784.34  4772770   360011
Fiber optic      4135.83  1914.62  7440360  2483265
No                711.38   173.90  1005184    19651

## Metrics

*1. Customer Churn Analysis*

- *Churn Rate = (Total Churned Customers / Total Customers) * 100*

In [52]:
total_customers = len(data)
churned_customers = data['Churn'].eq('Yes').sum()
churn_rate = ( churned_customers / total_customers ) * 100
print(f'The Churn Rate in the Dataset is : {churn_rate.round(2)}%')

The Churn Rate in the Dataset is : 26.54%

- *Churn by Contract Type = Number of churned customers per contract type*

In [63]:
contract_churn = data.groupby('Contract')['Churn'].count()

for i, (contract, churned) in enumerate(contract_churn.items()):
    print(f'{i+1}. {contract} contract has {churned} churned customers. ')

1. Month-to-month contract has 3875 churned customers.
2. One year contract has 1473 churned customers.
3. Two year contract has 1695 churned customers.

- *Churn by Internet Service = Churn rate for DSL, Fiber Optic, etc.*

In [80]:
Internet_service_churn = data[data['Churn']=='Yes'].groupby('InternetService')['Churn'].count()

for i, (internet_service, churned) in enumerate(Internet_service_churn.items()):
    print(f'{i+1}. {internet_service} :  {churned} churned customers. ')

1. DSL :  459 churned customers.
2. Fiber optic :  1297 churned customers.
3. No :  113 churned customers.

- *Churn by Payment Method = Which payment methods have the highest churn?*

In [81]:
Payment_churn = data[data['Churn']=='Yes'].groupby('PaymentMethod')['Churn'].count()

for i, (payment_method, churned) in enumerate(Payment_churn.items()):
    print(f'{i+1}. {payment_method} :  {churned} churned customers. ')

1. Bank transfer (automatic) :  258 churned customers.
2. Credit card (automatic) :  232 churned customers.
3. Electronic check :  1071 churned customers.
4. Mailed check :  308 churned customers.

*2. Revenue & Financial Metrics*

- *Average Monthly Revenue = Mean of Monthly Charges*

In [86]:
avergae_monthly_revenue = data['MonthlyCharges'].mean().round(2)
print(f'The Average Monthly Revenue is : {avergae_monthly_revenue}')

The Average Monthly Revenue is : 64.76

- *Total Revenue by Contract Type = Sum of Total Charges grouped by contract*

In [92]:
print('The Total Revenue based on Contract :')
data.groupby('Contract')['MonthlyCharges'].sum()

The Total Revenue based on Contract :

Contract
Month-to-month    257270
One year           95812
Two year          103014
Name: MonthlyCharges, dtype: int64

- *High-Value Customers = Customers with high TotalCharges and long tenure*

In [89]:
# Calculate the 75th percentile for TotalCharges and Tenure
total_charges_threshold = data['TotalCharges'].quantile(0.75)
tenure_threshold = data['tenure'].quantile(0.75)

# Filter high-value customers
high_value_customers = data[(data['TotalCharges'] >= total_charges_threshold) & (data['tenure'] >= tenure_threshold)]

print(f"Total High-Value Customers: {len(high_value_customers)}")

Total High-Value Customers: 1298

*3. Service Usage & Customer Segmentation*

- *Average Tenure by Contract Type = How long do customers stay based on contract?*

In [91]:
print('The Average tenure based on Contract : ')
data.groupby('Contract')['tenure'].mean().round(2)

The Average tenure based on Contract :

Contract
Month-to-month    18.04
One year          42.04
Two year          56.74
Name: tenure, dtype: float64

- *Most Common Internet Service = Count of each InternetService type*

In [117]:
Common_internet_service = data['InternetService'].value_counts()

common_intenet_service_max = Common_internet_service.idxmax()
max_count = Common_internet_service.max()

for i, (internet_service, count) in enumerate(Common_internet_service.items()):
    print(f'{i+1}. {internet_service} :  {count} has customers. ')


print(f'\n The Most Common Internet Service used is {common_intenet_service_max} with {max_count} customers')

1. Fiber optic :  3096 has customers.
2. DSL :  2421 has customers.
3. No :  1526 has customers.

 The Most Common Internet Service used is Fiber optic with 3096 customers

- *Streaming Service Adoption = Percentage of customers using StreamingTV or StreamingMovies*

In [134]:
streamingtv_customers = data['StreamingTV'].eq('Yes').sum()
streamingmovies_customers = data['StreamingMovies'].eq('Yes').sum()
streamingmovies_customers = ( streamingmovies_customers / total_customers ) * 100
streamingtv_customers = ( streamingtv_customers / total_customers ) * 100
print(f'The Percentage of Customers Streaming TV area : {streamingtv_customers:.2f}%')
print(f'The Percentage of Customers Streaming Movies area : {streamingmovies_customers:.2f}%')

The Percentage of Customers Streaming TV area : 38.44%
The Percentage of Customers Streaming Movies area : 38.79%

*4. Customer Support & Technical Issues*

- *Number of Support Tickets (numTechTickets, numAdminTickets) = Average number per customer*

In [136]:
avg_tech_tickets = data['numTechTickets'].mean().round(2)
avg_admin_tickets = data['numAdminTickets'].mean().round(2)
print(f'The Average number of Tech Tickets are : {avg_tech_tickets}')
print(f'The Average number of Admin Tickets are : {avg_admin_tickets}')

The Average number of Tech Tickets are : 0.42
The Average number of Admin Tickets are : 0.52

- *Support Tickets vs. Churn = Do more tickets lead to churn?*

In [140]:
print('The Support Ticket vs Churn : ')
data.groupby('Churn')[['numTechTickets', 'numAdminTickets']].mean().round(2)

The Support Ticket vs Churn :

       numTechTickets  numAdminTickets
Churn
No               0.15             0.53
Yes              1.16             0.47

*5. Payment & Billing Insights*

- *Preferred Payment Methods = Count of customers per PaymentMethod*

In [144]:
print('The number of Customers per Payment Method : ')
data['PaymentMethod'].value_counts()

The number of Customers per Payment Method :

PaymentMethod
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: count, dtype: int64

- *Paperless Billing Impact = Does PaperlessBilling lead to higher churn?*

In [145]:
print('The number of Customers using Paper Billing method : ')
data['PaperlessBilling'].value_counts()

The number of Customers using Paper Billing method :

PaperlessBilling
Yes    4171
No     2872
Name: count, dtype: int64